* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.button {

}

.button_save {
    position: absolute;
}

.wrapper:after {
    content: '';
    display: block;
    height: 35px;
}

.delete {
    display: none;
    /*display: block;*/
    position: absolute;
    top: 4px;
    right: -68px;
    /*right: -98px;*/
    z-index: 444;
    text-decoration: none;
    color: #0000ff;
    border-bottom: 1px dashed #0000ff;
    cursor: pointer;
}

.calc {
    text-align: right;
    display: block;
    width: 200px;
    margin: 20px auto;
}

.calc__header {
    margin-bottom: 5px;
}

.calc__board {
    margin-bottom: 5px;
}

.calc__board-title {
    margin-bottom: 14px;
}

.calc__container {
    position: relative;
    display: inline-block;
}

.calc__list {
    list-style: none;
}

.calc__value {
    display: block;
    cursor: pointer;
}

.calc__value:hover ~ .delete{
    display: block;
}

.calc__input {
    width: 80px;
}

.calc__footer {
    margin-top: 16px;
}

.calc__item {

}

.calc__item.inactive input{
    display: none;
}

.calc__item.inactive .button_save{
    display: none;
}

.calc__item.active .calc__value{
    display: none;
}

.calc__item.inactive .calc__container {
    padding: 5px 0 5px 36px;
}

.calc__item.inactive .calc__container:hover {
    background: #e5f8ff;
}

.calc__item.inactive .calc__container:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -84px;
    width: 84px;
    height: 28px;
}

.calc__item.inactive .calc__container:hover:after {
    background: #e5f8ff;
}

.calc__item.inactive .calc__container:hover .delete{
    display: block;
}